<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=divice-width,inicial-scale=1">
    <title>Prueba</title>
  </head>

  <body>
    <div class="container Basicos">
      <header class="row">
          <br>
        <div class="col Basicos2 text-center"><h1>Vehiculos</h1></div>
      </header>
      <section>
          <br>
        <div class="row">
          <div class="col">Ingrese Placa</div>
          <div class="col"><input type="text" #placa></div>
        </div>
        <br>
        <div class="row">
          <div class="col espacios">Ingrese Marca</div>
          <div class="col"><input type="text" #marca></div>
          <br>
        </div>
        <div class="row">
           
          <div class="col text-center"><button name="Enviar" class="btn btn-warning boton" (click)="enviardatos(placa,marca)">Enviar</button></div>
        </div>

      </section>
      <section>
        <div *ngFor="let estructura of this.json">
          <h6>Placa: {{estructura.placa}}</h6><h6>Marca:{{estructura.marca}}</h6><br>
        </div>

      </section>
      


    </div>

  </body>
</html>